.feed{
    border: 1px solid var(--twitter-bgcolor);
    flex: 0.5;
    overflow-y: scroll;
    overflow-x: scroll;
}

/* hide scrollbar for chrome,safari*/
.feed::-webkit-scrollbar{
    display:none;
}

.feed{
    -ms-overflow-style: none;/* hide scrollbar for IE,edge*/
    scrollbar-width: none;/* hide scrollbar for firefox*/
}
.feed__header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--twitter-bgcolor);
    padding: 20px 15px ;
    background-color:white;
    z-index: 200;

}

